
section.carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: yellow;
  position: relative;

  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

section.carousel ul.slide--deck {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;

  height: 100%;

  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  -o-transition-property: transform;
  transition-property: transform;

  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

section.carousel ul.slide--deck.no-animation {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

section.carousel ul.slide--deck > li {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

section.carousel > .carousel--window,
section.carousel > .carousel--controls {
  position: absolute;
  width: 100%;
  height: 100%;
}

section.carousel > .carousel--window {
  overflow: hidden;
}

section.carousel > .carousel--controls {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-pack: distribute;
  -webkit-box-pack: space-around;
  -moz-box-pack: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;

  pointer-events: none;
}

section.carousel > .carousel--controls > .control--wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  height: 100%;
  width: 20%;
}

section.carousel > .carousel--controls > .control--wrapper.next {
}

section.carousel > .carousel--controls > .control--wrapper.previous {
}

section.carousel > .carousel--controls > .control--wrapper > div[class^="control"] {
  display: flex;
  pointer-events: all;
  width: 100%;
  height: 3em;
  background: transparent;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  user-select: none;
}

section.carousel > .carousel--controls > .control--wrapper > div[class^="control"] > div.arrow {
  width: 20px;
  height: 20px;
  background: transparent;
  box-sizing: border-box;
  border-left: 1px solid green;
  border-top: 1px solid green;

  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);

}

section.carousel > .carousel--controls > .control--wrapper.previous > div[class^="control"] > div.arrow {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media screen and (min-width: 420px) {
  section.carousel > .carousel--controls > .control--wrapper > div[class^="control"] > div.arrow {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 768px) {
  section.carousel > .carousel--controls > .control--wrapper > div[class^="control"] > div.arrow {
    width: 50px;
    height: 50px;
  }
}
